@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #ffffff;
  --bg: #171717;
  --bgSoft:#242323;
  --bgLight:#4b4949;
  --textSoft:#fcf9f9ee;
}
/* Hide spinners in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  color: var(--text);
}